<div class="header">
{#<img src="{{ asset('../../assets/images/mvclogo.png') }}">#}

{#<div><img src="{{ asset('build/images/mvclogo.png') }}" alt="mvc logo"></div>#}

<img src="img/mvclogo.png" alt="logo">

<link rel="stylesheet" href="css/style.css"> 

{#<div><h1>Mvc Course</h1></div>#}
{#<img src="{{ asset('images/mvclogo.png') }}" alt="mvc logo">#}
{#<img src="{{ asset('./mvclogo.png') }}" alt="mvc logo">#}
</div>